html,
body {
    height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
}

#mapid {
    height: 100%;
    width: 84%;
}

#pins {
    position: absolute;
    left: 4px;
    top: 98px;
    z-index: 1000;
    background: url(images/bg.png);
    /* height: 168px; */
    width: 165px;
    border: 4px solid #b9a2a2;    
    margin-left: 8px;
    padding-right: 22px;
    border-radius: 22px;
}

#pins1 {
    position: absolute;
    left: 4px;
    top: 285px;
    z-index: 1000;
    background: url(images/bg.png);
    /* height: 168px; */
    width: 166px;
    border: 4px solid #b9a2a2;    
    margin-left: 8px;
    padding-right: 22px;
    border-radius: 22px;
}

.pins_color{
    font-size: 18px;
    font-weight: bold;
    text-underline-position: below;
    padding: 0 0 0 30px;
}


ul.pins_color {
    font-family: cursive;
    text-align: center;
}

.pins_color li {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.pins_color__bra {
    color: green;
}

.pins_color__cent {
    color: blue;
}

.pins_color__jur {
    color: red;
}

.pins_color__vost {
    color: grey;
}
/* Form slide down button */
#formButton {
    z-index: 100001;
    position: absolute;
    top: 75px;
    left: 17px;
    font-weight: bold;
    /* background-color: white; */
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none; */
    background-color: #f4f4f4;
    /* color: #bbb; */
    border: 1px solid #eee;
    border-radius: 30px;
}

#formButton:hover,
#formButton:active {
    border: 1px solid #eee;
 }

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
    width: 17px !important;
}

.hide{
    display: none;
}

.show{
    display: block;
}



.pins_color__zone{
    color: #6477a0;
}

/* ------------------------ */
/* my code */
/* ------------------------ */
#main-table {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 90000;
    height: 100%;
    display: inline-block;
    width: 16%;
    text-align: left;
    font-size: 13px;
    overflow: auto;
	background: rgb(246, 246, 246);
	border: 2px solid #b9a2a2;
}

thead#myTable-thead {
    background: rgba(68, 178, 230, 0.75);
}

th.myTable-thead_tr__th {
	text-align: center !important;
	
}

#myTbody tr:nth-of-type(2n+1) {
    background: rgba(189, 197, 197, 0.384);
}

#myTbody tr th {
	cursor: pointer;
}

#myTbody tr:hover {
	background-color: #b5707057;
}

